# =========================================================
# Правила Владельцев Кода для Quantum Icebreaker
# =========================================================

# Все файлы в папке /docs/ (Манифест, Руководство)
# требуют обязательного одобрения от владельца проекта.
/docs/Manifesto.docx @AndriiDykyi-QI
/docs/Manifesto_ru.docx @AndriiDykyi-QI
